ul{
    margin: 0;
    padding: 0; /* encostando a esquerda para comecarmos do zero */
}

li{
    
    list-style-type: none; /* tirar os ponteiros */
    background-color: #4a4a4a;
    margin-bottom: 3px; /* espacamento entre a lista */
    padding: 60px 25px /* este padding orienta a seta um pouco mais a direita, para ficar mais parecido o espaço com o marcador */ 60px 100px /* este ultimo padding orienta o texto um pouco mais para a direita */; /* espacamento interno referente ao texto */
    background-image: url(marcador.png); /* adicionar imagem de fundo (marcador) */
    background-repeat: no-repeat; /* nao repetir a imagem diversas vezes */
    background-position: 28px center /* posicao da imagem */
    
}

li:hover{
    
    background-color: #6e6e6e; /* efeito hover, muda a cor de fundo da area onde passamos o cursor */
    
}

li.feito{ /* formatando apenas as linhas com os projetos feitos */
    
    background-color: #27ae60;
    background-image: url(marcador%20marcado.png);
    
}

li.feito:hover{ /* adicionando efeito hover diferente para as linhas dos projetos feitos */
    
    background-color: #52be7f;
    
}

a{
    color: #fff;
    display: block;
    text-decoration: none;
    background-image: url(seta.png);
    background-repeat: no-repeat;
    background-position: right center;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
}

    
