body{
    font-family: 'lato', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

header{
    margin-bottom: -90px;
}

header h1{
    margin: 0px;
    background-image: url(/imagens/logo/logo.png);
    background-repeat: no-repeat;
    width: 177px;
    height: 76px;
    margin-top: 10px;
}

header h1 span{
    visibility: hidden;
}

header nav ul{
    list-style-type: none;
    margin-top: 35px;
    padding-right: 60px;
}    

header nav li{
    display: inline;
    margin: 0px;
    margin-right: 80px;
    
}

header nav li:last-child{
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 30px 10px 30px;
}

header nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

section#topo{
    height: 700px;
    background-image: url(/imagens/fundoroxo.png);
    background-size: cover;
    margin-bottom: 60px;
}

section#topo .txt_topo{
    padding-top: 200px;
}

section#topo .txt_topo h2{
    margin: 0;
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

section#topo .txt_topo p{
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

section#topo .txt_topo h3{
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    border: 1px solid none;
    border-radius: 3px;
    box-shadow: 0px 6px 0px 0px #a32751;
    background-color: #ff3b80;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section#conheca .txt_conheca{
    padding-top: 20px;
    margin-left: 50px;
}

section#conheca .txt_conheca h2{
    font-size: 36px;
    font-weight: 500;
    font-weight: bold;
}

section#conheca .txt_conheca p{
    font-size: 24px;
    font-weight: 300;
}

section#conheca .txt_conheca h3{
    font-size: 30px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    border: 1px solid none;
    border-radius: 3px;
    box-shadow: 0px 6px 0px 0px #a32751;
    background-color: #ff3d7f;
    width: 290px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section#conheca img{
    margin-right: 50px;
    width: 380px;
    height: 397px;
}




/* seção depoimentos */
section#depoimentos {
    margin-top: 55px;
    border-top: 2px solid #511099;
    display: flex;
    font-size: 26px;
    font-weight: 300;
}

section#depoimentos img{
    margin-top: 55px;
    width: 151px;
    height: 150px;
    /* alinhando */
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* a imagem */
}

section#depoimentos .txt_depoimento p{
    text-align: center;
}



