*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Lato', sans-serif;
    -webkit-font-smoothing: antialiased;
    
}

.container{
    /* evitando a quebra com max-width */
    max-width: 960px;
    /* do container ^ */
    /* centralizando */
    margin: 0 auto;
    /* container ^ */
    /* elementos se posicionarem livremente  */
    display: flex;
    /* de acordo com a formatação dos mesmos ^ */
    /* espaçamento entre */
    justify-content: space-between;
    /* os elementos ^ */
}




/* --------------*/
/* seção header */
header{
    /* puxando o header */
    margin-bottom: -100px;
    /* para dentro da seção topo, pegando a imagem de fundo ^ */
}

header h1{
    margin: 0px;
    background-image: url(/imagens/logo/logo.png);
    background-repeat: no-repeat;
    width: 177px;
    height: 75px;
    margin-top: 20px;
}

header h1 span{
    /* escondendo o texto */
    visibility: hidden;
    /* para o logo ficar aparente */
}

header nav ul{
    margin: 0px;
    /* igualando a margem */
    margin-top: 20px;
    /* com o logo ^ */
    /* ajustando o menu */
    padding-right: 60px;
    /* de acordo com o proposto */
}    

header nav li{
    /* tirando o bullet point */
    list-style: none;
    /* da lista do menu ^ */
    /* deixando a lista do menu */
    display: inline-block;
    /* inline ^ */
    margin: 0px;
    /* dando espaçamento entre */
    margin-right: 80px;
    /* as opções do menu ^ */
    
}

/* pseudo-classe */
header nav li:last-child{
    border: 1px solid #fff;
    border-radius: 3px;
    /* espaçamento interno */
    padding: 10px 30px 10px 30px;
    /* dos botões do menu ^ */
}
/* formatando apenas a última opção do menu ^^ */

header nav li a{
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}




/* --------------*/
/* seção topo */
section#topo{
    /* altura */
    height: 700px;
    /* da seção topo ^ */
    background-image: url(/imagens/fundoroxo.png);
    /* centralizando a imagem */
    background-image: no-repeat;
    background-size: cover;
    /* redimensionando de acordo com a seção topo ^ */
}

section#topo .txt_topo{
    /* espaçamento da div txt_top */
    margin-top: 200px;
    /* organizando feito no avocode */
}

section#topo .txt_topo h2{
    /* zerando a margem */
    margin: 0;
    /* que já vem como padrão h2 */
    font-size: 50px;
    color: #fff;
    font-weight: 500;
    text-align: center;
}

section#topo .txt_topo p{
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

section#topo .txt_topo h3{
    margin: 0;
    font-size: 36px;
    font-weight: 300;
    text-align: center;
    border: 1px solid none;
    border-radius: 3px;
    box-shadow: 0px 6px 0px 0px #a32751;
    background-color: #ff3b80;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* criar uma classe no html para que ambos botões, da seção topo
   e da seção conheça, recebam a mesma formatação 
   .botao {
       background-color: #ff397e;
       display: block;
       padding-top: 20px;
       padding-bottom 20px;
       color: #fff;
       text-decoration: none;
       box-shadow: 0px 6px 0px 0px #a32751;
       border-radius: 3px;
       font-size: 36px;
   }
*/

section#topo .txt_topo h3 a{
    text-decoration: none;
    color: #fff;
}




/* --------------*/
/* seção conheça */ 
section#conheca{
    padding: 70px;
}

section#conheca .txt_conheca{
    padding: 70px;
    padding-top: 30px;
}

section#conheca .txt_conheca h2{
    font-size: 36px;
    font-weight: bold;
}

section#conheca .txt_conheca p{
    font-size: 24px;
    padding-bottom: 20px;
}

section#conheca .txt_conheca h3{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    border: 1px solid none;
    border-radius: 3px;
    box-shadow: 0px 6px 0px 0px #a32751;
    background-color: #ff3d7f;
    width: 290px;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

section#conheca .txt_conheca h3 a{
    text-decoration: none;
    color: #fff;
}

section#conheca img{
    margin-right: 50px;
    width: 380px;
    height: 397px;
}




/* --------------*/
/* seção depoimentos */
section#depoimento{
    border-top: 2px solid #511099;
    background-color: #ebe8fb;
}

section#depoimento .container{
    flex-direction: column;
    align-items: center;
    padding: 70px;
    padding-bottom: 50px;
} 

section#depoimento img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 151px;
    height: 150px;
}

section#depoimento .txt_depoimento p{
    margin-top: 20px;
    font-size: 26px;
    text-align: center;
   
}




/* --------------*/
/* seção convite feita pelo Harley

Por não ter utilizado div para criação da caixa, 
necessitamos formatar o form
section#convite form{
    background-color: ;
    padding: 10px;
    width: 70%;
}

*/


section#convite{
    background-image: url(imagens/fundo-convite.png);
    background-size: cover;
    padding-top: 150px;
    padding-bottom: 150px;
}

section#convite .container{
    /* alinhando as divs*/ 
    flex-direction: column;
    align-items: center;
    /* no container convite */
}

section#convite .container .divform{
    width: 70%;
    height: 120px;
    background-color: #fff;
    opacity: .9;
    border-radius: 3px;
}

section#convite .container .divform form input{
    width: 70%;
    margin-top: 48px;
    margin-left: 40px;
    font-size: 20px;
    border: none;
    opacity: .9;
    background-color: #fff;
}

section#convite .container .divform form button{
    background-image: url(./imagens/botao/botao-convite.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100px;
    height: 60px;
    border: none;
    background-color: #fff;
}

section#convite .container .divform form button span{
    visibility: hidden;
}




/* --------------*/
/* seção footer */
footer{
    background-color: #2a0157;
    border-top: 2px solid #fff;
}

footer p{
    /* alinhando o texto */
    margin-left: auto;
    margin-right: auto;
    /* no footer */
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
}




/* --------------*/
/* seção para tratar responsividade */
@media (max-width: 600px){
    header nav{
        display: none;
    }
    header h1{
        margin-left: 30px;
    }
    
    section#topo .container{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    section#topo .txt_topo h3{
        
    }
    
    section#conheca .container{
        flex-direction: column;
        align-items: center;
    }

    section#conheca img{
        padding: 10px;
        width: 100%;
        margin-left: 50px;
    }

    section#conheca .txt_conheca p{
        padding: 20px;
    }

    section#conheca .txt_conheca h2{
        padding: 20px;
    }

       
    section#conheca .txt_conheca h3{
        padding: 20px;
    }
    
    section#depoimentos .txt_depoimento p{
        text-align: justify;
        margin-right: 30px;
        margin-left: 30px;
    }
    section#convite .container .divform form{
        display: block;
        text-align: center;
        width: 100%;
    }
    section#convite .container .divform form button{
        display: none;
    }
}

