* {
    margin: 0; padding: 0;
}

html{ /* porque tem que alinhar no html, não sei, mas dá certo */
    height: 100%; /* altura 100% para conseguirmos alinhar verticalmente */
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url(img/paginaDeTras.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background-color:#ffffff;
    width: 680px;
    height: 550px;
}

header{
    background-color: #ffffff;
    height: 40px;
    display: flex;
}

header h1{
    margin: 0; padding: 0;
    font-size: 18px;
    line-height: 40px;
    color: #5e5f5f;
    font-weight: 700;
    margin-left: 20px;

}

header p{
    font-size: 12px;
    line-height: 40px;
    margin-left: 10px;
}





section#principal{
    display: flex;
}

section#principal .cartao{
    background-color: blue;
    width: 381px;
    height: 508px;
}

section#principal .carrinho{
    background-color: green;
    width: 299px;
    height: 508px;
}