* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container{
    float: right;
    width: 83%;
    background-color: #f5f5f5;
    padding-bottom: 20px;
}

header{   
    background-color: #242536;
    width: 100%;
    height: 60px;
}

header .logonucliot{
    width: 17%;
    height: 60px;
    background-color: #141524;
    
    /* centralizando logo */
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .logonucliot h1{
    margin: 0px;
    background-image: url(img/nucliot-logo-certo.png);
    background-repeat: no-repeat;
    width: 108px;
    height: 22px;
}

header .logonucliot h1 span{
    visibility: hidden;
}

header img{
    /* posicionando a img TD no header, não sei porque foi parar no conteudo */
    position: relative;
    left: 96%;
    top: -60px;
}





aside{
    background-color: #242536;
    display: inline;
    float: left;
    width: 17%;
    height: 1030px;
}

aside li{
    list-style: none;
    font-size: 14px;    
    font-weight: 700;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;    
}

aside li:hover{
    background-color: #151524;
    border-left: 6px solid #ffb946;
    cursor: pointer;
    padding-left: 14px; /* diminuindo o padding-left para que, atraves do hover, os itens do li não andem para direita, por causa da borda de 6px */ 
}

aside li a{
    text-decoration: none;
    color: #ffffff;
}

aside li i{
    margin-right: 25px;
    /* adicionando altura e largura do icone para podermos alinhar os itens do menu */
    height: 20px;
    width: 20px;
    text-align: center;
}

aside li small{
    opacity: 0.6;
    float: right;
    margin-right: 20px;
}






#conteudo{
    background-color: #fff;
    height: 60px;
    border-bottom: 1px solid #e6e6e6;
}

#conteudo ul{
    margin: 0;
    padding: 0;
    margin-left: 50px; /* espaçamento a direita das abas */
}

#conteudo li{
    display: inline-block;
    line-height: 60px;
}

#conteudo li a{
    text-decoration: none;
    color: #161616;
    font-size: 14px;
    font-weight: 700;
    margin-right: 50px; /* espaçamento entre as abas */
    display: inline-block;
}

#conteudo li a:hover{
    color: #ffb946;
    box-shadow: 0px -3px 0px #ffba44 inset; /* borda interna do hover */
    cursor: pointer;   
}






#conteudo2{
    background-color: #fff;
    height: 930px;
    margin: 20px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    border: 1px solid #e6e6e6;
}

#conteudo2 h1{
    margin: 0;
    margin: 33px 0px 10px 35px;
    font-size: 20px;
    font-weight: 700;
}

#conteudo2 form{
    display: flex;
    flex-direction: column;
    margin-left: 35px;
}

#conteudo2 .checked img{
    margin-left: 15px;
}

#conteudo2 .email input, .dados input, .password input{
    width: 385px;
    height: 50px;
    background-color: #ffffff;
    border: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 15px;
}

#conteudo2 .dados select{
    width: 403px;
    height: 50px;
    background-color:#fff;
    border: none;
    border: 1px solid #dddddd;
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 15px;
    color: #000000;
    opacity: 0.6;
    box-sizing: border-box; /* alinhar a caixa do select com as caixas dos formularios */
}

#conteudo2 p{
    margin-left: 35px;
    width: 390px;
    font-size: 12px;
    margin-bottom: 30px;
}

.password input{
    padding-left: 15px;
    width: 385px;
}

.box li{
    list-style: none;
    width: 370px;
    font-size: 14px;
    margin-bottom: 10px;
    display: flex;
}

.box input{
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

.box label{
    text-align: center;
}

#conteudo2 button{
    width: 400px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color: #3aca60;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin-top: 30px;
    border: 1px solid #dddddd;
}