.cart {
    background-color: #ebebeb;
    border-left: 1px solid #dddcde;
    border-top: 1px solid #dddcde;
    border-bottom: 1px solid #dddcde;
    width: 299px;
    height: 508px;

}

.cart .linha {  /* linha que separa os itens do cart */
    margin-top: 10px;
    width: 279px;
    margin-left: 8px;
}

.cart .flexitensbox {  /* dar margem top a todos os itens do cart */
    margin-top: 30px;
}

.cart .flexitens {
    display: flex;
    margin-top: 10px;
    margin-left: 13px;
}

.cart .agroupdescription {
    margin-left: 10px;
}

.cart .agroupdescription ul {
    list-style: none;
}

.cart .agroupdescription .descrip1 {
    width: 215px;
}

.cart .agroupdescription .descrip1 span {
    color: #777879;
    font-size: 12px;
    font-weight: 700;
}

.cart .agroupdescription .descrip1 small {
    float: right;
    color: #777879;
    font-size: 12px;
    font-weight: 700;
}

.cart .agroupdescription .descrip2 {
    color: #4a4a4a;
    font-size: 10px;
    font-weight: 200;
    font-style: italic;
}

.cart .agroupdescription .descrip3 {
    color: #9c9c9c;
    font-size: 10px;
    font-weight: 700; 
}

.cart .agroupdescription .descrip3 span {
    font-weight: 400;
}


/* Área de estilo do total da compra */
.cart .total {
    margin-top: 100px;
    margin-left: 13px;
}

.cart .total ul {
    margin-top: 10px;
    list-style: none;
}

.cart .total li {
    width: 273px;
}

.cart .total small {
    float: right;
}

.cart .total .subtotalbill {
    color: #777879;
    font-size: 12px;
    font-weight: 400;
}

.cart .total .totalbill {
    color: #777879;
    font-size: 12px;
    font-weight: 700;
}

.cart .total .linha {
    margin-bottom: 10px;
}