body{
    
    background-color: #9b9b9b;
    padding: 40px;
    
}

table{
    
    background-color: #fff;
    width: 100%;   
    font-family: 'roboto', sans-serif;
    
}


caption{
    
    background-color: #fff;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    
}

thead{
    
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    
}

tbody {
    
    text-align: left;
        
}

tbody tr:hover{
    
    background-color: #eeeeee;
    
}
tfoot{
    
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    color: #8b8b8b;
    
}

.checkbox{
    
    text-align: center;
    width: 50px;
    
}

tbody td, thead th{
    
    border-bottom: 1px solid black;
    border-bottom-color: #8b8b8b;
}

select{
    
    color: #8b8b8b
        
}

