body{
    
    background-color: #9b9b9b;
    padding: 40px;
    
}

table{
    
    background-color: #fff;
    width: 100%;   
    font-family: 'roboto', sans-serif;
    border-spacing: 0;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0px 2px 5px #666;
    
}


caption{
    
    background-color: #fff;
    padding: 20px;
    text-align: left;
    font-size: 20px;
    font-weight: 500;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0px -2px 5px #666;
    
}

thead th{
    
    text-align: left;
    font-size: 13px;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

tbody td {
    
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

tbody tr:hover{
    
    background-color: #eeeeee;
    
}
tfoot td{
    
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    opacity: 0.7;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    
}

tfoot span{
    
    margin-right: 10px;
    margin-left: 30px;
    
}

tfoot img{
    
    margin-right: 10px;
    margin-left: 30px;
}

.checkbox{
    
    text-align: center;
    width: 50px;
    
}

tbody td, thead th{
    
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    
}

select{
    
    border: none;
    border-right-color: transparent;
            
}

